redis==5.0.1
httpx==0.26.0
prometheus-client==0.19.0
uvicorn==0.27.0
starlette==0.35.1
starlette-exporter==0.23.0
fastapi==0.109.0
pydantic[email]==2.5.3
SQLAlchemy==2.0.25
psycopg2-binary==2.9.9
python-dotenv==1.0.1
Faker==25.2.0
GeoAlchemy2==0.14.0
python-jose==3.3.0
passlib==1.7.4
