# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=DHARMA
DATABASE_URL=postgresql+psycopg2://postgres:postgres@postgres:5432/DHARMA
DATABASE_URL=postgresql+psycopg2://postgres:postgres@postgres:5432/snpd

# Redis
REDIS_URL=redis://redis:6379/0

# Application
API_PORT=8000
FRONTEND_PORT=5173
ENVIRONMENT=local
GEMINI_API_KEY=AIzaSyAqYwuHFjEM33iUoi2JwUHu4iVCBU-MOkY

# Frontend
VITE_API_URL=http://localhost:8000
VITE_WS_URL=ws://localhost:8000/ws
VITE_ENV=local
MAPBOX_TOKEN=pk.eyJ1IjoiZGNuaWNob2xzMTIzIiwiYSI6ImNtZXU5ajVxaTA0cm4ycXB4eWpuNTIwNG4ifQ.zJkZSJTxU7ta1p-uN1zs-A
VITE_MAPBOX_TOKEN=pk.eyJ1IjoiZGNuaWNob2xzMTIzIiwiYSI6ImNtZXU5ajVxaTA0cm4ycXB4eWpuNTIwNG4ifQ.zJkZSJTxU7ta1p-uN1zs-A